@import "./variables.module";

.title{
  color:$themecolour;
  font-size: 3rem;
  font-family: zProxBold;
}
.github{
  color: $themecolour;
  font-family: zProxBold;
}
.gitlink{
  text-decoration: none;
}
.github:hover {
text-decoration: underline;
}

.container{
  text-align: center;
  padding-top: 150px;
    margin-bottom: 150px;
    min-height: 100vh;
    @media (max-width: 992px) {
        padding-top: 100px;
      }
}
.imageContainer{
  margin-top: 50px;
    margin-bottom: 50px;
}

.description{

opacity: 0;
  font-size: 1.4rem;
  width:80%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  font-family: zProxReg;
  @media (max-width: 992px) {
    font-size: 1.2rem;
    width: 100%
    }
 
}
.siteimage{
  margin-top:5px;
}

.fadein{
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from{
  transform: translateY(100%);
    opacity: 0;
  }
  to{
transform: translateY(0%);
    opacity: 1;
  }
}
