@import "./variables.module";


.header {
  color: black;
 
}

.outContact {
  min-height: 100vh;
  padding: 30px;
  background: url("../../images/showcase.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contactform {
background-color: lightblue;
  color: black;
  padding: 20px;
  border: 1px solid black;
  min-height: 50vh;
 width:80%;
 max-width:1000px;
 display: flex;
}

.content{
flex-grow: 80;
}

.formContainer{
flex-grow: 40;
}

.input {
  border: 1px solid black;
  display: block;
  margin-bottom: 1rem;
  margin: auto;
  width:50%;
}

.inputButton {
  background-color: white;
  border: 1px black solid;
  color: black;
  margin: auto;
  text-align: center;
}

.inputButton:hover {
  background-color: lightgrey;
}

.hidden {
  display: none;
}

.labelContainer{
  text-align: center;
  color:red;
  margin: auto;
}


label {
  width: 100%;

}

@media (max-width: 576px) {
  .contactform {
    margin-top: 5rem;
  }

  .outContact {
    padding: 5px;
  }

  .infoDescription {
    width: 90%;
    margin-bottom: 1rem;
  }

  .infoContact {
    margin-bottom: 0.5rem;
  }

  .contactContainer {
    margin-bottom: 2rem;
  }

  .formContainer {
    text-align: center;
  }
}