@import "./variables.module";
.title {
  margin-bottom: 4rem;
  color: $themecolour;
  font-size: 3rem;
  font-family: zProxBold;
}
.tpptitle {
  color: black;
  padding-top: 4rem;
  font-size: 1.3rem;
  padding-bottom: 3rem;
  font-family: zProxBold;
}

.container {
  text-align: center;
  padding-top: 150px;
  background-color: #efebeb;
  min-height: 100vh;
  @media (max-width: 992px) {
    padding-top: 100px;
  }
}

.workimage {
  margin-bottom: 7rem;
  width: 80%;
}

.description,
.descriptionLeading {
  font-size: 1.4rem;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  font-family: zProxReg;

  @media (max-width: 992px) {
    font-size: 1.2rem;
    width: 100%;
  }
}

.descriptionLeading {
  padding-bottom: 3rem;
}

.workContainer {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: block;
  }
}
